<body class="postings_index">
  <div><%= link_to "Post new Job", new_posting_path %></div>
  <div class="all_postings_section">
    <% @postings.each do |posting| %>
      <div class='posting_card'>
        <img class="posting_image" src="<%= posting.company.main_image %>" alt="<%= posting.position %>">
        <div class="posting_info">
          <img class="posting_logo" src="<%= posting.company.logo %>" alt="<%= posting.company.name %>">
          <p> <%= link_to posting.position, posting_path(posting.id)%></p>
          <p> <%= link_to posting.company.name, company_path(posting.company.id) %></p>
          <p> <%= posting.location %></p>
        </div>
      </div>
    <% end %>

  </div>
</body>
